$transparentGrey: rgba(211, 211, 211, .3);

body {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 20px;
}

$body-bg: transparent;

.navbar {
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: $transparentGrey;
  border: none;
}

#loginBox {
  margin: auto;
  text-align: center;
  width: 450px;
  input {
    color: black;
    background-color: $transparentGrey;
  }
}

#mainHeader {
  margin: 10px;
  color: #660033;
}

#mainView {
  height: 100vh;
  overflow-y: auto;
  background: url("https://images5.alphacoders.com/398/398077.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
}

#partialView {
  margin-top: 70px;
}

.md-button:hover {
  color: #993366;
  background-color: #FFF;
}

.purpleBtn {
  color: #FFF;
  background-color: #993366;

  :hover {
    color: #993366;
    background-color: #EBEBEB;
  }
}

.redBtn {
  color: #FFF;
  background-color: #cc0000;
}

.wineCard {
  border: black 1px solid;
  padding: 10px;
  margin:20px 4.16% 20px 4.16%;
  text-align: center;
  height: 375px;
  background-color: $transparentGrey;
  color: black;
  img {
    height: 142px;
    display: block;
    margin-left: 30%;
  }
}

.wineSearchPage {
  text-align: center;
  input {
    margin-top: 10px;
    background-color: $transparentGrey;
  }
  select {
    margin-top: 10px;
    background-color: $transparentGrey;
  }
}

.myCellarModal {
  text-align: center;
}

.findWine {
  text-align: center;
  input {
    background-color: $transparentGrey;
  }
}

#findZip::-webkit-input-placeholder {
    color: black;
}

.angular-google-map-container {
  height: 500px;
  width: 568px;
}
