<div class="modal-header">
  <h1>Wine stores near you</h1>
</div>

<div class="modal-body">
  <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control'>
    <ui-gmap-markers models="markers" coords="'self'" click="showStore" >
      <ui-gmap-windows
      control="windowsControl"
      idKey="windowData.id"
      models="markers"
      options="windowOptions"
      closeClick="closeClick()">
        <div>
        <p>{{windowData.name}}</p>
        <p>{{windowData.address}}, {{windowData.city}}, {{windowData.state}}</p>
        <p>{{windowData.phone}}</p>
        <a ng-href="windowData.website">{{windowData.website}}</a>
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>


<div class="modal-footer">
  <button ng-click="close()" class="md-button redBtn" > Close</button>
</div>
