<div id="loginBox">
  <h2>Login or Register</h2>
  <div>
    Email: <input type="text" autofocus="true" class="form-control" ng-model="account.email">
  </div>
  <div>
    Password: <input type="password" class="form-control" ng-model="account.password">
  </div>
  <button type="button" class="md-button destroyMargin purpleBtn" ng-click="loginWithEmailAndPassword()">Login</button>
  <button type="button" class="md-button destroyMargin purpleBtn" ng-click="registerWithEmailAndPassword()">Register</button>
  <button type="button" class="md-button destroyMargin redBtn" ng-click="loginWithGoogle()">Login with a Google Account</button>
</div>
