<div class="col-md-4 wineCard" ng-click="open(wine)" ng-repeat="wine in wines">
<div>{{wine.wineName}}</div>
<div>{{wine.wineRank}}</div>
<div>{{wine.wineRegion}}</div>
<div>{{wine.wineVarietal}}</div>
<div>{{wine.wineVintage}}</div>
<img ng-src={{wine.wineImage}}>
<button ng-click="findWine(wine.WineId)" class="btn btn-info">Find this Wine</button>
<button ng-click="deleteWine(wine.key)" class="btn btn-danger">Throw this bottle out</button>
</div>

<div class="modal-header">
  <h1>{{wine.wineName}}</h1>
</div>
<div class="modal-body">
  <p>{{wine.wineName}}</p>
  <p>Varietal: {{wine.vwineVrietal}}</p>
  <p>Vintage: {{wine.wineVintage}}</p>
  <p>Region: {{wine.wineRegion}}</p>
  <p>Price: {{wine.winePrice}}</p>
  <p>Snooth Rank: {{wine.wineRank}}</p>
  <img ng-src={{wine.wineImage}}>
</div>

<label for="personalComment">Personal Comment:</label>
<input type="textarea" id="personalComment" name="personalComment" ng-model="wine.personalComment"/> <br>

<label for="personalRating">Personal Rating:</label>
<input type="text" name="personalRating" ng-model="wine.personalRating"/>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">Close</button>
    <button class="btn btn-success" ng-click="edit(wine.key)">Edit</button>
</div>
