<div class="modal-header">
  <h1>{{wine.wineName}}</h1>
</div>
<div class="modal-body">
  <div class="myCellarModal">
    <p>{{wine.wineName}}</p>
    <p>Varietal: {{wine.vwineVrietal}}</p>
    <p>Vintage: {{wine.wineVintage}}</p>
    <p>Region: {{wine.wineRegion}}</p>
    <p>Price: {{wine.winePrice}}</p>
    <p>Your Rating: {{wine.personalRating}}</p>
    <p>Snooth Rank: {{wine.wineRank}} / 5</p>
    <img ng-src={{wine.wineImage}}><br>

    <div class = "myCellarModalImputs">
      <md-input-container md-no-float>
        <textarea type="textarea" class="inputColorChange" id="personalComment" placeholder="Add your personal comment here" max-rows="3" ng-model="wine.personalComment"></textarea><br>
      </md-input-container>
      <md-input-container md-no-float>
        <input type="text" class="inputColorChange" ng-model="wine.personalRating" placeholder="Add any rating you'd like here" />
      </md-input-container>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="md-button purpleBtn" ng-click="close()">Close</button>
    <button class="md-button purpleBtn" ng-click="edit(wine.key)">Edit</button>
</div>
