<div ng-controller="NavBarCtrl" class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <h1 class="nav navbar-nav navbar-left" id="mainHeader">Magnificus Vitis</h1>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!isLoggedIn"><a ng-href="#/login">Login</a></li>
        <li ng-show="isLoggedIn"><a ng-href="#/wines/find">Wine Find</a></li>
        <li ng-show="isLoggedIn"><a ng-href="#/wines/search">Wine Search</a></li>
        <li ng-show="isLoggedIn"><a ng-href="#/mycellar">My Cellar</a></li>
        <li ng-show="isLoggedIn" ng-click="logout()"><a href="#/login">Logout</a></li>
      </ul>
    </div>

  </div>
</div>
