<div class="wineSearchPage">
<h1>Search for your favorite wine!</h1>

<label>Wine Name</label>
<input ng-model="WineSearchParams.wineName" type="text" placeholder=""/><br>

<label>Number of Results</label>
<select ng-model="WineSearchParams.numOfResults">
  <option>15</option>
  <option>30</option>
  <option>50</option>
</select><br>

<label>Color</label>
<select ng-model="WineSearchParams.drinkColor">
  <option value="red">Red</option>
  <option value="white">White</option>
</select><br>

<label> Price Range </label>
<select ng-model="priceRange">
  <option value="0-25">0 - 25$</option>
  <option value="25-50">25 - 50$</option>
  <option value="50-75">50 - 75$</option>
  <option value="75-100">75 - 100$ </option>
  <option value="100-1000"> 100$ +</option>
</select><br>

<label>Min Rating</label>
<select ng-model="WineSearchParams.minRating">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
<br>

<label> Sort By </label>
<select ng-model="WineSearchParams.sortBy">
  <option value="sr">Rank</option>
  <option value="price+asc">Price Ascending</option>
  <option value="price+desc">Price Descending</option>
  <option value="vintage+asc">Vintage Ascending</option>
  <option value="vintage+desc">Vintage Descending</option>
</select><br>

<button ng-click="searchWine()" class="purpleBtn md-button">Submit</button>
</div>
