<h1>Search for your favorite wine!</h1>

<label>Wine Name</label>
<input ng-model="WineSearchParams.wineName" type="text" placeholder=""/><br>



<label>Number of Results</label>
<select ng-model="WineSearchParams.numOfResults">
  <option>15</option>
  <option>30</option>
  <option>50</option>
</select><br>



<label>Color</label>
<select ng-model="WineSearchParams.drinkColor">
  <option value="red">Red</option>
  <option value="white">White</option>
</select><br>


<label>Max Price</label>
<input ng-model="WineSearchParams.maxPrice" type="number" placeholder=""/> <br>


<label>Min Price</label>
<input ng-model="WineSearchParams.minPrice" type="number" placeholder=""/> <br>

<label>Min Rating</label>
<select ng-model="WineSearchParams.minRating">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
</select>
<br>

<label> Sort By </label>
<select ng-model="WineSearchParams.sortBy">
  <option value="sr">Rank</option>
  <option value="price+asc">Price Ascending</option>
  <option value="price+desc">Price Descending</option>
  <option value="vintage+asc">Vintage Ascending</option>
  <option value="vintage+desc">Vintage Descending</option>
</select><br>

<button ng-click="searchWine()" class="btn btn-default">Submit</button>
