<div class="modal-header">
  <h1>{{wine.name}}</h1>
</div>
<div class="modal-body">
  <p>{{wine.name}}</p>
  <p>Varietal: {{wine.varietal}}</p>
  <p>Vintage: {{wine.vintage}}</p>
  <p>Region: {{wine.region}}</p>
  <p>Price: {{wine.price}}</p>
  <p>Snooth Rank: {{wine.snoothrank}}</p>
  <img ng-src={{wine.image}}>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save(wine)"> Save </button>
    <button class="btn btn-warning" ng-click="close()">Close</button>
    <button class="btn btn-danger" ng-click="find()">Find</button>
</div>
